# Entornos y editores
.idea/
.vscode/
*.iml

# Archivos generados por Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Logs de errores
*.log
flutter_*.log

# Si usas MacOS en algún momento
.DS_Store